body{
	background-color: #f5f7f9;
}
.logo img{
    width: 300px;
}
main{
	margin-top: 65px;
	padding-top: 30px;
}
#sidebar{
    /*position: fixed;*/
    background-color: #dae1e7;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#sidebar a{
    color: #3f4a66;
    border-left: 10px solid #dae1e7;
}
#sidebar a:hover{
	font-weight: bold;
    border-left: 10px solid #3f4a66;
}
section{
	border-bottom: 1px solid #e3e2e2;
	padding-bottom: 20px;
	padding-bottom: 10px;
}
.endpoint{
	background-color: #dae1e7;
    padding: 10px;
}